
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
  margin: 0;
  font-family:'Microsoft Yahei';
  background-color: rgb(237, 237, 237);
}
*{
  padding: 0%;
  margin: 0%;
 
}

.borderRadiusOne{
  border-radius: 60% 40% 68% 32% / 39% 59% 41% 61% ;

}
.borderRadiusTwo{
  border-radius: 31% 69% 38% 62% / 71% 42% 58% 29% ;

}
@keyframes handsome {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
} 
.openmobnavTop{
  top:"60%"
}